# Basic DataFrame Operations in Pandas 

Mostly reviews as I did not practice for a while...

## 2877. Create a DataFrame from List

Write a solution to create a DataFrame from a 2D list called student_data. This 2D list contains the IDs and ages of some students.

The DataFrame should have two columns, student_id and age, and be in the same order as the original 2D list.

In [24]:
# Import
import pandas as pd
import numpy as np
import matplotlib.pyplot as pb
import seaborn as sns

In [ ]:
# Creating student data list
student_data = [[1,15],[2,11],[3,11],[4,20]]

# Another Dataset
mobile_device_df = pd.read_csv(

In [26]:
# Creating DataFrame 
student_df = pd.DataFrame(student_data, columns=["student_id","age"])

In [27]:
# Print 
print(student_df)

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20

## 2878. Get the Size of a DataFrame

Write a solution to calculate and display the number of rows and columns of players.

Return the result as an array:

In [28]:
[rows,cols] = student_df.shape 

print([rows,cols])

[4, 2]

In [29]:
# Shape of Data 
mobile_device_df.shape

(700, 11)

# 2879. Display the First Three Rows

a solution to display the first 3 rows of this DataFrame.

In [30]:
# Getting the top 3 rows
mobile_device_df.head(3)

# Head by default give top 5 rows
mobile_device_df.head()

,User ID,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class
0,1,Google Pixel 5,Android,393,6.4,1872,67,1122,40,Male,4
1,2,OnePlus 9,Android,268,4.7,1331,42,944,47,Female,3
2,3,Xiaomi Mi 11,Android,154,4.0,761,32,322,42,Male,2
3,4,Google Pixel 5,Android,239,4.8,1676,56,871,20,Male,3
4,5,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3