# Basic DataFrame Operations in Pandas 

Mostly reviews as I did not practice for a while...

## 2877. Create a DataFrame from List

Write a solution to create a DataFrame from a 2D list called student_data. This 2D list contains the IDs and ages of some students.

The DataFrame should have two columns, student_id and age, and be in the same order as the original 2D list.

In [1]:
# Import
import pandas as pd
import numpy as np
import matplotlib.pyplot as pb
import seaborn as sns

In [2]:
# Creating student data list
student_data = [[1,15],[2,11],[3,11],[4,20]]

# Another Dataset
# mobile_device_df = pd.read_csv(

In [3]:
# Creating DataFrame 
student_df = pd.DataFrame(student_data, columns=["student_id","age"])

In [4]:
# Print 
print(student_df)

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20

## 2878. Get the Size of a DataFrame

Write a solution to calculate and display the number of rows and columns of players.

Return the result as an array:

In [5]:
[rows,cols] = student_df.shape 

print([rows,cols])

[4, 2]

In [6]:
# Shape of Data 
# mobile_device_df.shape

# 2879. Display the First Three Rows

a solution to display the first 3 rows of this DataFrame.

In [7]:
# Getting the top 3 rows
# mobile_device_df.head(3)

# Head by default give top 5 rows
# mobile_device_df.head()

# 2880. Select Data

Write a solution to select the uid of iOS users

In [8]:
# Getting specific values based on loc for my case I am looking for iOS user IDs
# mobile_device_df.loc[mobile_device_df['Operating System'] == 'iOS',['User ID']]

# To take it to a next level I will count the values
# ios_uid = mobile_device_df.loc[mobile_device_df['Operating System'] == 'iOS',['User ID']].count()

# print(ios_uid)

# 2881. Create a New Column

A company plans to provide its employees with a bonus.

Write a solution to create a new column name bonus that contains the doubled values of the salary column.

In [9]:
# Create the data and DF

data = {
    'name': ['Piper', 'Grace', 'Georgia', 'Willow', 'Finn', 'Thomas'],
    'salary': [4548, 28150, 1103, 6593, 74576, 24433]
}
employees = pd.DataFrame(data)

print(employees)

      name  salary
0    Piper    4548
1    Grace   28150
2  Georgia    1103
3   Willow    6593
4     Finn   74576
5   Thomas   24433

In [10]:
# Shape of the data returns a tuple
employees.shape

(6, 2)

In [11]:
# first 3 rows

employees.head(3)

      name  salary
0    Piper    4548
1    Grace   28150
2  Georgia    1103

In [12]:
# unconventional approach using list, for loop 
bonus = []

for i in range(len(employees)):
    bonus.append(employees['salary'][i] * 2)

In [13]:
# Create a column 

employees['bonus'] = bonus

In [14]:
print(employees)

      name  salary   bonus
0    Piper    4548    9096
1    Grace   28150   56300
2  Georgia    1103    2206
3   Willow    6593   13186
4     Finn   74576  149152
5   Thomas   24433   48866

# 2882. Drop Duplicate Rows

DataFrame customers
+-------------+--------+
| Column Name | Type   |
+-------------+--------+
| customer_id | int    |
| name        | object |
| email       | object |
+-------------+--------+

There are some duplicate rows in the DataFrame based on the email column.

Write a solution to remove these duplicate rows and keep only the first occurrence.

The result format is in the following example.

In [15]:
data = {
    "customer_id": [1, 2, 3, 4, 5, 6],
    "name": ["Ella", "David", "Zachary", "Alice", "Finn", "Violet"],
    "email": [
        "emily@example.com",
        "michael@example.com",
        "sarah@example.com",
        "john@example.com",
        "john@example.com",
        "alice@example.com"
    ]
}

In [18]:
student_df2 = pd.DataFrame(data)

print(student_df2)

   customer_id     name                email
0            1     Ella    emily@example.com
1            2    David  michael@example.com
2            3  Zachary    sarah@example.com
3            4    Alice     john@example.com
4            5     Finn     john@example.com
5            6   Violet    alice@example.com

In [19]:
student_df2.drop_duplicates(subset=['email'],keep='first', inplace=True)

Overview

In this problem, we have a DataFrame named customers that consists of details like customer_id, name, and email. The goal is to remove duplicate rows based on the email column and only keep the first occurrence of any duplicated email.

Key Concepts:

    DataFrame: a 2D table-like structure, similar to a spreadsheet or SQL table. Each row represents an individual record and each column represents a different attribute. It is size-mutable and designed to handle a mix of different types of data.
    drop_duplicates Function: The drop_duplicates function is a method of the DataFrame object in the pandas library. Its purpose is to drop duplicate rows, and you can specify the criteria based on which the rows are considered duplicates.

drop_duplicates Function Argument Definition:

    subset: This is the column label or sequence of labels to consider for identifying duplicate rows. If not provided, it considers all columns in the DataFrame.

    keep: This argument determines which duplicate row to retain.
        'first': (default) Drop duplicates except for the first occurrence.
        'last': Drop duplicates except for the last occurrence.
        False: Drop all duplicates.

    inplace: If set to True, the changes are made directly to the object without returning a new object. If set to False (default), a new object with duplicates dropped will be returned.

In [20]:
print(student_df2)

   customer_id     name                email
0            1     Ella    emily@example.com
1            2    David  michael@example.com
2            3  Zachary    sarah@example.com
3            4    Alice     john@example.com
5            6   Violet    alice@example.com